body {
	overflow: hidden;
	background: transparent;
	user-select: none
}

[v-cloak] {
	display: none
}

#cefstudio-radial-menu {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	justify-content: center;
	background: rgb(0, 0, 0, 0.30);
	animation: show 1s forwards;
	align-items: center;
	top: 0;
	left: 0
}

#cefstudio-radial-menu .information-block {
	width: auto;
	max-width: 29.3224043715847vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 44%;
	z-index: 1
}

#cefstudio-radial-menu .information-block .button-name {
	text-align: center;
	font-family: Montserrat-SemiBold;
	font-size: 1.7vh;
	color: white
}

#cefstudio-radial-menu .information-block .red {
	font-family: Montserrat-Medium;
	font-size: 1.4vh;
	text-align: center;
	color: rgb(239, 106, 50);
	margin-top: 0.5vh
}

#cefstudio-radial-menu .information-block .mouse-block {
	display: inline-block;
	margin-top: 3vh
}

#cefstudio-radial-menu .information-block .mouse-block .mouse {
	display: flex;
	align-items: center;
	margin-top: -3vh
}

#cefstudio-radial-menu .information-block .mouse-block .mouse img {
	width: 7.103825136612022vh;
	height: 7.103825136612022vh;
	margin-top: -0.5vh;
	margin-left: -2.5vh
}

#cefstudio-radial-menu .information-block .mouse-block .mouse p {
	font-family: Montserrat-Medium;
	text-align: left;
	font-size: 1.4vh;
	color: white;
	margin-left: -1.5vh;
	margin-top: 1vh
}

#cefstudio-radial-menu svg {
	transform: rotate(36deg)
}

#cefstudio-radial-menu path {
	transform: scale(1);
	transition: 0.3s
}

#cefstudio-radial-menu .radial-menu-1 {
	position: absolute
}

#cefstudio-radial-menu .radial-menu-2 {
	transform: translate(-62px, -80px)
}

#cefstudio-radial-menu .radial-menu-3 {
	transform: translate(-30px, -38px)
}

#cefstudio-radial-menu svg text,
#cefstudio-radial-menu svg g text,
#cefstudio-radial-menu svg g image {
	transform: rotateZ(-36deg)
}

#cefstudio-radial-menu .button-description {
	font-family: Montserrat-Medium;
	font-size: 2vh;
	fill: white
}

#cefstudio-radial-menu .image-noactive {
	opacity: 0.3
}

#cefstudio-radial-menu g:not(.button-noactive):hover path {
	fill: rgb(239, 106, 50, 0.80)
}


@keyframes show {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}
}

@keyframes hide {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}